<h2>Results</h2>

<h3>Text</h3>
<%= @html %>
<br><br>
<!-- <h3>W3 Validation</h3>
<%# if @validator.valid? %>
  No errors
<%# else %>
  <%# @validator.errors.each do |error|%>
    <%# error %>
    <br>
  <%# end %>
<%# end %> -->
<%#raw @elements %>

<% if !@html_errors.empty? %>
<b>Errors</b>
<%= @html_errors  %>
<% else %>
<%= "Challenge Accomplish"%>
<% end %>
