<style media="screen">

#wrapper {
margin-right: 200px;
}
#html_div {
margin-left: 50px;
float: left;
width: 50%;
}
#css_div {
float: right;
width: 50%;
margin-right: -150px;
}
#cleared {
clear: both;
}

</style>


<body>
  <%= form_tag check_path, method: :post, class: "navbar-form navbar-left search-form" do %>

  <div id="wrapper">
  <div id="html_div">
    <h2>Html editor</h2>
    <div class="Instructions">
      <h4>Write a header for your page</h4>
      Example
      <pre><%= @html_instructions %></pre>
    </div>
    <textarea id="html_editor" name="html_editor" ></textarea>
  </div>
  <div id="css_div">
    <h2>Css editor</h2>
    <div class="Instructions">
      <h4>Set a background color for your page and a margin for h1 tags </h4>
      Example
      <pre><%= @css_instructions %></pre>
    </div>
    <textarea id="css_editor" name="css_editor"></textarea>
  </div>
  <div id="cleared"></div>
</div>


    <center>
      <%= submit_tag 'Submit' %>
      <br>
      <button onclick="submit_html();">Run</button>
    </center>

  <% end %>


  <p id="result"></p>
</body>

<script>
  var html_editor = CodeMirror.fromTextArea(document.getElementById("html_editor"), {
    lineNumbers: true,
    mode:  "xml"
  });
  var css_editor = CodeMirror.fromTextArea(document.getElementById("css_editor"), {
    lineNumbers: true,
    mode:  "xml"
  });
  function submit_html()
    {
      editor.save();
      var code = document.getElementById("html_editor").value;
      var data_url = code;
      document.getElementById("result").textContent = data_url;
    }
</script>
