<div class="Instructions">
  <h2>Write a header for your page</h2>
  <p>
    Add a h1 with the text <b>Hola Mundo</b>, don't forget to close the tag
  </p>
  <ol>
    <li>Check h1 tag</li>
    <li>Check h1 close</li>
    <li>Check text in h1</li>
    <li>Add a class "col-md-12" to h1</li>
  </ol>
  Example
  <pre><%= @instructions %></pre>
</div>
<br>
<body>
  <%= form_tag check_path, method: :post, class: "navbar-form navbar-left search-form" do %>
    <textarea id="editor" name="editor"></textarea>
    <%= submit_tag 'Submit' %>
  <% end %>

  <br>
  <button onclick="submit_html();">Run</button>
  <p id="result"></p>
</body>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    lineNumbers: true,
    mode:  "xml"
  });
  function submit_html()
    {
      editor.save();
      var code = document.getElementById("editor").value;
      var data_url = code;
      document.getElementById("result").textContent = data_url;
    }
</script>
