<style media="screen">

#wrapper {
margin-right: 200px;
}
#html_div {
margin-left: 50px;
float: left;
width: 50%;
}
#css_div {
float: right;
width: 50%;
margin-right: -150px;
}
#cleared {
clear: both;
}

</style>


<br>
<body>
  <%= form_tag upload_path, method: :post, class: "navbar-form navbar-left search-form" do %>

  <div id="wrapper">
  <div id="html_div">
    <h2>Html editor</h2>
    <div class="Instructions">
      <h4>Upload the HTML code for the exercise</h4>
    </div>
    <textarea id="html_editor" name="html_editor" ></textarea>
  </div>
  <div id="css_div">
    <h2>Css editor</h2>
    <div class="Instructions">
      <h4>Upload the CSS code for the exercise</h4>
    </div>
    <textarea id="css_editor" name="css_editor"></textarea>
  </div>
  <div id="cleared"></div>
</div>


    <center>
      <%= submit_tag 'Submit' %>
      <br>
      <button onclick="submit_html();">Run</button>
    </center>

  <% end %>


</body>

<script>
var html_editor = CodeMirror.fromTextArea(document.getElementById("html_editor"), {
  lineNumbers: true,
  mode:  "xml"
});
var css_editor = CodeMirror.fromTextArea(document.getElementById("css_editor"), {
  lineNumbers: true,
  mode:  "xml"
});
  function submit_html()
    {
      editor.save();
      var code = document.getElementById("editor").value;
      var data_url = code;
      document.getElementById("result").textContent = data_url;
    }
</script>
